/* CUSTOM CSS */

.move-side {
    margin-right: 20px;
    float: right;
}

.edit-modal-header-blue {
    background-color: #3092C1;
}

.edit-modal-header-green {
    background-color: #58B392;
}

.edit-modal-header-blue h4, .edit-modal-header-green h4 {
    color: #ffffff;
}



/* -------- */
.img-border {
    border: 1px solid #efefef;
    padding: 4px;
}

.modal {
    bottom: auto;
}

.modal-content {
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: none !important;
}

.modal-content h4 {
    font-size: 1.6rem;
    color: #000;
}

.modal-red {
    background: #E74C3C;
    color: #fff !important;
}

.modal-green {
    background: #58B392;
    color: #fff !important;
}

.modal-blue {
    background: #3092C1;
    color: #ffffff !important;
}

.modal-delete-width {
    width: 35%;
}

.btn-flat {
    margin: 6px 2px !important;
}

.modal-close-btn {
    background: #34495E;
    color: #fff !important;
}

.title_section h4 {
    margin: 10px 0;
    padding: 18px 10px;
    background: #3092C1;
    color: #fff;
}


.custom-bg-i i {
    background: none;
    padding: 1px 6px;
    margin-right: 0;
}


/* --- Editor CSS --- */

.note-editor {
    margin-top: 45px;
}

.note-editor.note-frame {
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.note-toolbar, .panel-heading.note-toolbar .btn {
    background-color: #3092C1;
}

.panel-heading.note-toolbar .btn:hover {
    background-color: #2a7fa8;
}

.note-editor .dropdown-content {
    background-color: #ffffff;
}

.note-editor.note-frame .note-statusbar {
    background-color: #f5f5f5;
}

.note-editor.note-frame .note-statusbar .note-resizebar .note-icon-bar {
    border-top: 2px solid #333;
}

.note-editor .dropdown-content.note-check li a, .note-editor .dropdown-content.note-check li a i {
    color: #263238;
}

.note-editor .dropdown-content.note-check li:hover {
    background-color: #eeeeee;
}

#note-styles li > a {
    padding: 5px 15px !important;
}

.note-dimension-display {
    color: #333;
}

.panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker {
    margin-top: 14px;
}

.panel-heading.note-toolbar .btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted {
    background-image: repeating-linear-gradient(0deg, #212121, #212121 4px, transparent 4px, transparent 26px), repeating-linear-gradient(-90deg, transparent, transparent 4px, #eeeeee 4px, #eeeeee 24px);
}

.note-editable ul {
    padding-left: 34px;
}

.note-editable ul li {
    list-style-type: disc;
}

/* ---------- */

.material-icons {
    font-size: 1.1rem !important;
}

.table-list > tbody > tr > td > ul:not(.browser-default) li {
    list-style-type: disc !important;
}



/* Multi Step form */

#status {
    background: #F44336;
    color: #fff;
    padding: 6px;
    border-radius: 15px;
}


#tab2 {
    display: none;
}

.custom-input:first-child {
    margin-top: 74px;
}

.custom-input:last-child {
    margin-top: 56px;
}

#row_d .input-field label {
    top: 0.1rem;
}

#row_d .material-icons {
    font-size: 1rem !important;
}

.custom-input .note-editor {
    margin-top: 26px;
}


#row_d {
    padding: 0 10px;
}

#row_d .col.s3 {
    width: 24% !important;
}

.pos_top {
    top: 5rem !important;
}

.block-border {
    border: 1px solid #efefef;
    margin-bottom: 20px;
    margin-right: 8px;
}


.block-border input, .block-border label {
    margin-top: 40px;
}

.row_btn {
    position: relative;
}

.row_btn_circle {
    position: absolute;
    bottom: 4px;
    left: 140px;
    background: #F44336;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.row_btn_circle:hover {
    background: #E21D0F;
}



/* ---- COURSE PAGE VIEW ---- */

.view-page {
    padding: 20px 0;
    height: 700px;
    overflow-y: scroll;
}

.view-page-title h3, .view-page-brief h4, .view-page-module h5 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

.view-page-title p, .view-page-brief p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 26px;
}

.view-page-brief ul li, .view-page-brief ol li {
    padding: 8px 0 8px 12px;
    font-size: 15px;
    line-height: 22px;
}

.view-page-brief span {
    margin-left: 10px;
    color: #F44336;
}

.view-page-module-content p, .view-page-module-content ul li, .view-page-module-content ol li {
    font-size: 14px;
}

.view-page-module-content ul li, .view-page-module-content ol li {
    line-height: 15px;
}

.view-page-module-content ul {
    padding-left: 40px;
}

.view-page-module-content ul li{
    list-style-type: disc;
}

/* TEXT EDITOR */

.cke {
    margin: 50px 0 !important;
}

.trumbowyg-box {
    margin-top: 50px !important;
}

.trumbowyg-editor ul:not(.browser-default) {
    padding-left: 40px !important;
    list-style-type: disc;
}

.trumbowyg-editor ul:not(.browser-default) li {
    list-style-type: disc;
}

.trumbowyg-button-pane {
    background: #F8F8F8 !important;
}

.trumbowyg-box.trumbowyg-editor-visible {
  min-height: 150px;
}

.trumbowyg-editor {
  min-height: 150px;
}


/* Pagination */

.pagination span {
    margin: 4px 2px;
    padding: 5px 8px;
    background: #199EB8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 -3px 0px 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 -3px 0px 0 rgba(0, 0, 0, 0.1) inset;
    font-size: 12px;
}

.pagination span, .pagination span > a {
    color: #ffffff;
}

.pagination span.curlink, .pagination span:hover {
    background: #E04F00;
}

